/**************************************
*               Print                 *
***************************************/

@media print {
  @page {
    padding: 3cm;
    text-align: left;
  }
  @page :left {
    margin: 1cm;
  }

  @page :right {
    margin: 1cm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  body {
    font-size: 16pt;
    line-height: 24pt;
    background: none;
  }
  body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    font: 13px Arial, Helvetica, 'Lucida Grande', serif;
    color: #000;
  }

  body > header > h1 {
    font-size: 50pt;
    /* line-height: 90pt; */
    text-align: center;
    page-break-after: always;
  }
  body > header > h1 > p {
    margin-top: 30pt;
  }

  body > main > div label {
    display: none;
  }

  body > main > ul {
    width: unset;
    height: unset;
    left: unset;
    margin-top: unset;
    overflow: unset;
    list-style: unset;
    position: unset;
    transition: unset;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  body > main > ul > li {
    width: 100%;
    page-break-after: always;
  }
  body > main input[type='radio']:checked ~ ul {
    transform: unset;
  }
  /* body main ul {
    display: none;
  } */
  body main section {
    display: block;
    page-break-before: always;
  }
  body main ul li section div {
    width: unset;
    margin: unset;
  }

  body main ul li section div article {
    text-align: unset;
    position: unset;
    width: unset;
    height: unset;
    padding: unset;
    transition: unset;
    border-radius: unset;
    transform-style: unset;
    margin: unset;
  }

  body main ul li section div article div {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    backface-visibility: unset;
    transform-style: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
  body main ul li section div article div p,
  body main ul li section div article div h3 {
    font-size: 16pt;
    line-height: 1;
    color: black;
    filter: brightness(unset);
  }
  body main ul li section div article div:nth-child(2) {
    border-radius: 20px;
    transform: unset;
    transform-style: unset;
  }
}
