:root {
  --darkBlue: rgb(34, 31, 62);
  --darkBlueRgbCode: 34, 31, 62;
  --beige: rgb(242, 195, 153);
  --beigeRgbCode: 242, 195, 153;
}

/**************************************
*           Food menu nav             *
***************************************/

body > main > input {
  display: none;
}

body > main > div {
  width: 100%;
  /* position: sticky;
  left: 50%;
  transform: translateX(-50%); */
  text-align: center;
  --padding: 0.25em 1.25em;
  --zindexBehind: -1;
  --border4px: 4px;
  --top: -0.5em;
  --left: -0.75em;
  --width: calc(100% + 1.5em);
  --height: calc(100% + 1em);
}

body > main > div > label {
  background: transparent;
  padding: var(--padding);
  line-height: 40px;
}

body > main > div > label:after {
  content: '';
  position: absolute;
  z-index: var(--zindexBehind);
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border4px);
  color: var(--beige);
}

body > main > input[type='radio']:nth-child(1):checked ~ div > label:nth-child(1),
body > main > input[type='radio']:nth-child(2):checked ~ div > label:nth-child(2),
body > main > input[type='radio']:nth-child(3):checked ~ div > label:nth-child(3),
body > main > input[type='radio']:nth-child(4):checked ~ div > label:nth-child(4),
body > main > input[type='radio']:nth-child(5):checked ~ div > label:nth-child(5),
body > main > input[type='radio']:nth-child(6):checked ~ div > label:nth-child(6),
body > main > input[type='radio']:nth-child(7):checked ~ div > label:nth-child(7) {
  color: var(--beige);
  filter: brightness(100%);
}

body > main > input[type='radio']:nth-child(1):checked ~ div > label:nth-child(1):after,
body > main > input[type='radio']:nth-child(2):checked ~ div > label:nth-child(2):after,
body > main > input[type='radio']:nth-child(3):checked ~ div > label:nth-child(3):after,
body > main > input[type='radio']:nth-child(4):checked ~ div > label:nth-child(4):after,
body > main > input[type='radio']:nth-child(5):checked ~ div > label:nth-child(5):after,
body > main > input[type='radio']:nth-child(6):checked ~ div > label:nth-child(6):after,
body > main > input[type='radio']:nth-child(7):checked ~ div > label:nth-child(7):after {
  background: var(--darkBlue);
  filter: brightness(100%);
}
