/**************************************
*               Footer                *
***************************************/

footer {
  text-align: center;
  background-color: var(--beige);
}

footer p {
  font-size: 1rem;
  padding: 3em 2em;
  filter: brightness(100%);
}
