:root {
  --darkBlue: rgb(34, 31, 62);
  --darkBlueRgbCode: 34, 31, 62;
  --beige: rgb(242, 195, 153);
  --beigeRgbCode: 242, 195, 153;
}
body > header a,
body > footer a {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  transition: 0.2s;
  background-color: var(--darkBlue);
}

body > header a {
  top: -1em;
}

body > main > div > label:focus {
  color: var(--darkBlue);
  outline-color: var(--beige);
}

body > footer a {
  bottom: -1em;
}

body > header a:focus,
body > footer a:focus {
  clip: auto;
  clip-path: initial;
  height: auto;
  margin: 0;
  overflow: visible;
  width: auto;
  padding: 1em 3em;
  color: var(--beige);
  outline-color: var(--beige);
}

body > header a:focus {
  left: 0;
  top: 0;
  position: absolute;
}

body > footer a:focus {
  bottom: 0;
  right: 0;
  position: relative;
}

*:focus {
  outline-color: var(--darkBlue);
}

body > main > ul > li > section div article div:nth-of-type(2):focus-within {
  animation-fill-mode: forwards;
  animation: rotateShit 1s;
}

body > main > ul > li > section div article div:nth-of-type(2):focus-within ~ div:nth-of-type(1) {
  animation: rotateShit 1s;
}
/* 
body
  > main
  > ul
  > li
  > section
  div
  article
  div:nth-child(2):focus-within
  ~ body
  > main
  > ul
  > li
  > section
  div
  article
  div:nth-child(1) {
  display: none;
} */

body > main > ul > li > section div article div:nth-of-type(1):focus {
  /* display: none; */
}
