@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*************************************
        Import all elements
************************************/

@import 'header/header.css';

@import 'main/main.css';
@import 'main/navigation/navi.css';
@import 'main/items/item.css';
@import 'main/list/list.css';
@import 'main/glitches/bars.css';

@import 'footer/footer.css';

/* @import 'navMenu/navi.css'; */
/* @import 'menuItem/list.css'; */

@import 'media/motion.css';
@import 'media/print.css';
@import 'states/focus.css';
@import 'animations/keyframes.css';

/*************************************
    Global styles and variables
************************************/

:root {
  --darkBlue: rgb(34, 31, 62);
  --darkBlueRgbCode: 34, 31, 62;
  --beige: rgb(242, 195, 153);
  --beigeRgbCode: 242, 195, 153;
}

*,
::before,
::after {
  font-family: 'Merriweather', serif;
  color: var(--beige);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
div,
cite {
  color: var(--beige);
}

h2::first-letter {
  text-transform: uppercase;
}

body {
  background-color: var(--darkBlue);
}
