@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*************************************
        Import all elements
************************************/

@import 'content.css';
@import 'header.css';
@import 'menu.css';
@import 'focus.css';
@import 'keyframes.css';
@import 'print.css';

/*************************************
    Global styles and variables
************************************/

:root {
  --darkBlue: #221f3e;
  --beige: rgb(242, 195, 153);
  --beigeBorder: 242, 195, 153;
}

*,
::before,
::after {
  font-family: 'Merriweather', serif;
  color: var(--beige);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
div,
cite {
  color: var(--beige);
}

h2::first-letter {
  text-transform: uppercase;
}

body {
  /* background-color: var(--darkBlue); */
}
