/* :root {
  --darkBlue: #221f3e;
  --softWhite: #fefdfd;
} */

body > header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body header h1 {
  color: var(--softWhite);
  font-size: 7em;
  font-weight: 900;
  font-style: italic;
  filter: hue-rotate(180deg);
}
