:root {
  --darkBlue: #221f3e;
  --darkBlueRGB: 34, 31, 62;
  --beige: rgb(242, 195, 153);
  --beigeBorder: 242, 195, 153;
}

/**************************************
*       Animation keyframes           *
***************************************/

@keyframes shake {
  0% {
    transform: skewx(-15deg);
  }
  5% {
    transform: skewx(15deg);
  }
  10% {
    transform: skewx(-15deg);
  }
  15% {
    transform: skewx(15deg);
  }
  20% {
    transform: skewx(0deg);
  }
  100% {
    transform: skewx(0deg);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitchBack {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 4px 4px;
  }
  15% {
    background-position: -8px 0;
  }
  20% {
    background-position: -4px 0;
  }
  30% {
    background-position: 12px 0;
  }
  40% {
    background-position: -16px 0;
  }
  50% {
    background-position: -24px 0;
  }
  60% {
    background-position: 16px 0;
  }
  70% {
    background-position: 0 22px;
  }
  80% {
    background-position: 44px -10px;
  }
  90% {
    background-position: 12px 0;
  }
  100% {
    background-position: 0px 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes blurAnim {
  0% {
    filter: blur(1px);
    opacity: 0.8;
  }
  50% {
    filter: blur(1px);
    opacity: 1;
  }
  100% {
    filter: blur(1px);
    opacity: 0.8;
  }
}
@keyframes flickAnim {
  50% {
    left: 2px;
  }
  51% {
    left: 0;
  }
}
@keyframes jumpAnim {
  40% {
    top: 3px;
  }
  41% {
    top: 0;
  }
}
@keyframes trackAnim {
  40% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    top: 0px;
    left: -100px;
    transform: scale(1, 1.2);
    transform: skew(50deg, 0);
  }
  42% {
    top: 0px;
    left: 100px;
    transform: scale(1, 1.2);
    transform: skew(-80deg, 0);
  }
  43% {
    opacity: 1;
    top: 0;
    left: 0;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
}

@keyframes blue-me {
  28% {
    background-color: rgb(var(--darkBlueRGB));
  }
  30% {
    background-color: rgba(var(--darkBlueRGB), 0.55);
  }
  33% {
    background-color: rgb(var(--darkBlueRGB));
  }
  34% {
    background-color: rgba(var(--darkBlueRGB), 0.55);
  }
  35% {
    background-color: rgb(var(--darkBlueRGB));
  }
}

@keyframes appear {
  0% {
    filter: blur(5px);
    opacity: 0.85;
  }
  50% {
    filter: blur(3px);
    opacity: 0.85;
  }
  100% {
    filter: blur(4px);
    opacity: 0.85;
  }
}

@keyframes big-jump {
  0% {
    top: 0;
  }
  10% {
    top: -70vh;
  }
  12% {
    top: 0;
  }
  54% {
    top: 0;
  }
  55% {
    top: -40vh;
  }
  56% {
    top: 0;
  }
  86% {
    top: 0;
  }
  87% {
    top: -30vh;
  }
  88% {
    top: 0;
  }
}
@keyframes flick {
  50% {
    left: 2px;
  }
  51% {
    left: 0;
  }
}
