@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import 'header.css';
@import 'menu.css';
@import 'focus.css';

/*************************************
    Global styles and variables
************************************/

:root {
  --darkBlue: #221f3e;
  --beige: rgb(242, 195, 153);
  --beigeBorder: 242, 195, 153;
}

*,
::before,
::after {
  font-family: 'Merriweather', serif;
  color: var(--beige);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
p,
div,
cite {
  color: var(--beige);
}

h2::first-letter {
  text-transform: uppercase;
}

body {
  background-color: var(--darkBlue);
}

/**************************************
*          Gerechten compleet         *
***************************************/

body main section {
  text-align: center;
  min-height: 65vh;
}

/**************************************
*         Gerechten borders           *
***************************************/

body main section article::before,
body main section article::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  transition: all 0.6s ease;
}
body main section article::before {
  left: 0;
  bottom: 0;
  /* border-radius: 20px; */
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}

body main section article::after {
  top: 0;
  right: 0;
  /* border-radius: 20px; */
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}
body main section article:hover::before,
body main section article:hover::after {
  border-color: var(--beige);
  width: 100%;
  height: 100%;
}

/**************************************
*          Gerechten header           *
***************************************/

body main section header {
  text-align: center;
  margin: 2.5em 0 2em 0;
}

body main section header h2,
body main section h2 {
  font-size: 4em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

body main section header p {
  font-size: 2em;
  font-weight: 100;
}

body main section blockquote {
  margin: 0 auto 5em auto;
}

/**************************************
*         Gerechten content           *
***************************************/

body main section div {
  width: min(600px, 70%);
  margin: 0 auto;
}
body main section div article {
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 2em 0em;
  transition: transform 2s;
  border-radius: 20px;
  transform-style: preserve-3d;
  margin: 1em 0;
}

body main section div:hover article {
  transform: rotateY(0.5turn);
}

body main section div article div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main section div article div:nth-child(1) {
  border-radius: 20px;
}

body main section div article div:nth-child(1) h3 {
  filter: brightness(200%);
}
body main section div article div:nth-child(2) {
  border-radius: 20px;
  transform: rotateY(0.5turn);
  transform-style: preserve-3d;
}
body main section div article div:nth-child(2) p {
  margin: 0 0.5em;
  filter: brightness(200);
}
body main section div article div:nth-child(2) p:nth-child(2) {
  position: relative;
  margin-left: 1.5em;
}
body main section div article div:nth-child(2) p:nth-child(2):before {
  content: '€';
  display: flex;
  position: absolute;
  left: -1em;
}

/**************************************
*        Section BlockQuote           *
***************************************/

body main section blockquote p {
  margin-bottom: 1em;
}

body main section blockquote p:nth-child(1) {
  filter: hue-rotate(180deg);
}

body main section blockquote cite {
  filter: hue-rotate(180deg);
}
/**************************************
*               Footer                *
***************************************/

footer {
  text-align: center;
}

footer p {
  font-size: 1rem;
  margin: 5em 0 3em;
  /* opacity: 0.2; */
  filter: brightness(100%);
}

@media print {
  @page {
    padding: 3cm;
    text-align: left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24pt;
    line-height: 30pt;
    margin: 0;
  }

  body {
    font-size: 16pt;
    line-height: 24pt;
    background: none;
  }

  body h1 {
    font-size: 50pt;
    text-align: center;
    page-break-after: always;
  }

  body main ul {
    display: none;
  }
  body main section {
    display: block;
    page-break-before: always;
  }
  body main section div {
    width: unset;
    margin: unset;
  }

  body main section div article {
    text-align: unset;
    position: unset;
    width: unset;
    height: unset;
    padding: unset;
    transition: unset;
    border-radius: unset;
    transform-style: unset;
    margin: unset;
  }

  body main section div article div {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    backface-visibility: unset;
    transform-style: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
  body main section div article div p,
  body main section div article div h3 {
    font-size: 16pt;
    line-height: 1;
    color: black;
    filter: brightness(unset);
  }
  body main section div article div:nth-child(2) {
    border-radius: 20px;
    transform: unset;
    transform-style: unset;
  }
}
