/**************************************
*           Food menu tabs          *
***************************************/

body > main {
  text-align: center;
  padding: 4em 0;
  min-height: 80vh;
  max-width: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

body > main > input {
  display: none;
}

body > main > div {
  display: block;
  list-style: none;
  text-align: center;
  top: 2em;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 3em;
}

body > main > div > label {
  background: transparent;
  padding: 0.25em 1.25em;
}

body > main > div > label:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -0.5em;
  left: -0.75em;
  width: calc(100% + 1.5em);
  height: calc(100% + 1em);
  border-radius: 4px;
}

body > main > ul {
  width: 700%;
  height: 100%;
  left: 0;
  margin-top: 5em;
  overflow: hidden;
  list-style: none;
  position: relative;
  transition: 0.4s;
}

body > main > ul > li {
  width: calc(100% / 7);
  position: relative;
  float: left;
  /* background-color: hotpink; */
}

body > main > input[type='radio']:nth-child(1):checked ~ div > label:nth-child(1),
body > main > input[type='radio']:nth-child(2):checked ~ div > label:nth-child(2),
body > main > input[type='radio']:nth-child(3):checked ~ div > label:nth-child(3),
body > main > input[type='radio']:nth-child(4):checked ~ div > label:nth-child(4),
body > main > input[type='radio']:nth-child(5):checked ~ div > label:nth-child(5),
body > main > input[type='radio']:nth-child(6):checked ~ div > label:nth-child(6),
body > main > input[type='radio']:nth-child(7):checked ~ div > label:nth-child(7) {
  filter: brightness(145%);
}

body > main > input[type='radio']:nth-child(1):checked ~ div > label:nth-child(1):after,
body > main > input[type='radio']:nth-child(2):checked ~ div > label:nth-child(2):after,
body > main > input[type='radio']:nth-child(3):checked ~ div > label:nth-child(3):after,
body > main > input[type='radio']:nth-child(4):checked ~ div > label:nth-child(4):after,
body > main > input[type='radio']:nth-child(5):checked ~ div > label:nth-child(5):after,
body > main > input[type='radio']:nth-child(6):checked ~ div > label:nth-child(6):after,
body > main > input[type='radio']:nth-child(7):checked ~ div > label:nth-child(7):after {
  background: var(--beige);
  filter: brightness(40%);
}

body > main input[type='radio']:checked ~ .slides {
  transform: translateX(var(--transform));
}

body > main input[type='radio']:nth-child(1):checked ~ ul {
  --transform: calc((-100% / 7) * 0);
}
body > main input[type='radio']:nth-child(2):checked ~ ul {
  --transform: calc((-100% / 7) * 1);
}
body > main input[type='radio']:nth-child(3):checked ~ ul {
  --transform: calc((-100% / 7) * 2);
}
body > main input[type='radio']:nth-child(4):checked ~ ul {
  --transform: calc((-100% / 7) * 3);
}
body > main input[type='radio']:nth-child(5):checked ~ ul {
  --transform: calc((-100% / 7) * 4);
}
body > main input[type='radio']:nth-child(6):checked ~ ul {
  --transform: calc((-100% / 7) * 5);
}
body > main input[type='radio']:nth-child(7):checked ~ ul {
  --transform: calc((-100% / 7) * 6);
}

/**************************************
*          Gerechten header           *
***************************************/

body main section {
  --animationChain: blurAnim 30ms infinite, flickAnim 50ms infinite, jumpAnim 50ms infinite, trackAnim 5ms infinite;
}
body > main > ul > li > section header {
  text-align: center;
  overflow: hidden;
}

body > main > ul > li > section h2 {
  font-size: 4em;
  position: relative;
  font-size: 3em;
  filter: blur(1px);
  text-shadow: 1px 3px green, -2px -3px red;
  animation: var(--animationChain);
}

body > main > ul > li > section header p {
  margin-top: 1em;
  font-size: 2em;
  font-weight: 100;
  animation: var(--animationChain);
}

/**************************************
*        Section BlockQuote           *
***************************************/

body > main > ul > li > section blockquote {
  margin: 2em auto;
}

body > main > ul > li > section blockquote p {
  margin-bottom: 1em;
}

body > main > ul > li > section blockquote p:nth-child(1) {
  filter: hue-rotate(86deg);
}

body > main > ul > li > section blockquote cite {
  filter: hue-rotate(86deg);
}
/**************************************
*           Gerechten cards           *
***************************************/

body > main > ul > li > section > div {
  width: min(600px, 90%);
  margin: 0 auto;
}
body > main > ul > li > section > div:nth-last-of-type(1) {
  margin-bottom: 5em;
}
body > main > ul > li > section > div article {
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 3em 0em;
  transition-delay: 1s;
  transition: transform 3s;
  border-radius: 20px;
  transform-style: preserve-3d;
  margin: 1em 0;
}

body > main > ul > li > section > div:hover > article {
  animation: rotateShit 1s;
}

body > main > ul > li > section > div > article div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main > ul > li > section > div article div:nth-child(1) {
  border-radius: 20px;
}

body > main > ul > li > section div article div:nth-child(1) h3 {
  filter: brightness(200%);
}
body > main > ul > li > section div article div:nth-child(2) {
  border-radius: 20px;
  transform: rotateY(0.5turn);
  transform-style: preserve-3d;
}
body > main > ul > li > section div article div:nth-child(2) p {
  margin: 0 0.5em;
  filter: brightness(200);
}
body > main > ul > li > section div article div:nth-child(2) p:nth-child(2) {
  position: relative;
  margin-left: 1.5em;
}
body > main > ul > li > section div article div:nth-child(2) p:nth-child(2):before {
  content: '€';
  display: flex;
  position: absolute;
  left: -1em;
}

/**************************************
*         Gerechten borders           *
***************************************/

:is(body > main > ul > li > section) article::before,
article::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  transition: all 0.6s ease;
}
body > main > ul > li > section article::before {
  left: 0;
  bottom: 0;
  /* border-radius: 20px; */
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}

body > main > ul > li > section article::after {
  top: 0;
  right: 0;
  /* border-radius: 20px; */
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}

:is(body > main > ul > li > section) article:hover::before,
article:hover::after {
  border-color: var(--beige);
  width: 100%;
  height: 100%;
}

/**************************************
*               Footer                *
***************************************/

footer {
  text-align: center;
  background-color: var(--darkBlue);
}

footer p {
  font-size: 1rem;
  padding: 3em 0 3em;
  filter: brightness(100%);
}
